.form-group .ms-TextField-fieldGroup.fieldGroup-153 {
    border: 0;
  }
  
  .ms-BasePicker-text {
    border: 0;
  }
  
  .pickerText_4fe0caaf {
    border: 0;
  
  }
  
  #PeoplePickerBorder {
    height: 55%;
  }
  
  #buttonGenPass {
    margin-top: 0, 5%;
  }
  
  #btnForm {
    height: 5%;
  }